<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Ajouter un produit</title>

   
    

    

<link href="/static/css/bootstrap.min.css" rel="stylesheet">

   <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    

  </head>
  <body class="text-center">
    
<main class="form-signin w-100 m-auto">
  <form method="post" action="/addProduct" enctype="multipart/form-data">
    <img class="mb-4" src="/static/css/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Ajouter un produit</h1>

    <div class="form-floating">
      <input type="text" class="form-control" name="productName" id="floatingInput" placeholder="">
      <label for="floatingInput">Nom du produit</label>
    </div><br/>
    <div class="input-group">
  <input type="file" name="productFile" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
</div><br/>

    <button class="w-100 btn btn-lg btn-primary" type="submit"> Ajouter</button>
    <p class="mt-5 mb-3 text-muted">&copy; Flash 2022</p>
  </form>
</main>


    
  </body>
</html>
